.__outer-sub-section {
    .__center-title {
      display: flex;
      justify-content: space-between;

      h2 {
        margin-left: 0.35rem;
        background: $burple-superlight;
        padding: 0.6rem 0.8rem;
        border-radius: 0.5rem;
      }

      .category {
        padding: 0.125rem 0;
        align-self: flex-end;

        img {
          width: 2rem;
          height: auto;

          &:hover {
            border-radius: 100rem;
            box-shadow: 0 0 7px -2px $burple;
          }
        }
      }
    }

    .__center-sub-section {
      padding: 1rem 0 0.25rem 0;
      display: flex;
      flex-wrap: no;
      align-self: center;
      max-width: 32.5rem; // this changes the width of the Trending carousel.
      // please match this width with all carousels below it.
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;


    }
  }