.universal-footer {
   display: flex;
   justify-items: center;
   flex-direction: column;
.bottom-footer-section{
  display: flex;
  justify-content: center;
  .inner-footer-section{
     padding:1.5rem 0 1rem 0;
     border-top: 1px solid rgb(236, 236, 236);
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap:3rem;
     p{
        font-size:.825rem;
        font-family: book;
        color:$dark-purple;
     }
     .legal-section{
        display: flex;
        flex-direction: row;
        position: relative;
        z-index: 99;
        a {
         padding-bottom: .5rem;
           margin-left: 1.5rem; //margin between legal sectiont text
           font-size:.825rem;
           font-family: book;
           color:$dark-purple;
           &:hover {
              border-bottom: 1px solid #ede0f3;
           }
        }
     }
}
}
}
@media screen 
and (max-width: 57.5rem) {
   .universal-footer {
      display: grid;
      justify-items: center;
  .bottom-footer-section{
     .inner-footer-section{
      display: flex;
      flex-direction: column;  
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap:0rem;
      padding-bottom: 1rem;
      text-align: center;
         p{
            padding:0;
            margin-bottom: 1.5rem;
         }
        .legal-section{
           display: flex;
           flex-direction: column;
           a {
              padding-bottom: .75rem;
              margin:0;
              &:hover {
                 border-bottom:none;
              }
           }
        }
      }
   }
}  
}