// MAIN HEADER NAV BAR //
header {
  position: relative;
  z-index: 99999;
  margin:1.25rem 0 0 1.25rem;
  display: flex;
  justify-content: flex-start;
      .main-logo {
         a {
            img{
               width:3rem;
               &:hover {
                  animation: shake 1.25s cubic-bezier(.36,.07,.19,.97) both infinite;
                  transform: translate3d(0, 0, 0);
                  backface-visibility: hidden;
                  perspective: 100%;
                }
                @keyframes shake {
                  10%, 90% {
                    transform: translate3d(-.5px, 0, 0);
                  }
                  20%, 80% {
                    transform: translate3d(1px, 0, 0);
                  }
                
                  30%, 50%, 70% {
                    transform: translate3d(-2px, 0, 0);
                  }
                
                  40%, 60% {
                    transform: translate3d(2px, 0, 0);
                  }
                }
            }
         }
      }
   }