
$burple: #788df5; //main button color
$burple-light: #A5B1F0; // 
$yellow: #FFEF4D;
$light-yellow:#e5ff00;
$orange:#F08F19;
$red: #f0163a;
$light-red: #ff0f4f;
$black: #292929;
$secondblack: #000;
$white: #f6f6f6;
$superwhite:#F2F6F9;
$grey: #585858;
$light-grey: #eeeeee;
$blue: #4BA9FF;
$dark-blue:#164d6d;
$light-blue:#3D95CE;
$green:#7fe676;
$dark-green:#3dc425;
$purple:#9b5cec;
$dark-purple: #2B1951;
$dark-purple2:#514D69