/* FONTS */
@font-face {
  font-family: 'book';
  src: url("base-layout/fonts/hugeups-book.woff2") format("woff2");
}

@font-face {
  font-family: 'medium';
  src: url("base-layout/fonts/hugeups-medium.woff2") format("woff2");
}

@font-face {
  font-family: 'bold';
  src: url("base-layout/fonts/hugeups-bold.woff2") format("woff2");
}

@font-face {
  font-family: 'arial';
  src: url("base-layout/fonts/hugeups-arial.woff2") format("woff2");
}

.universal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.universal-footer .bottom-footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.universal-footer .bottom-footer-section .inner-footer-section {
  padding: 2rem 0rem;
  border-top: 1px solid #ececec;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.universal-footer .bottom-footer-section .inner-footer-section p {
  font-size: .825rem;
  font-family: book;
  color: #2B1951;
}

.universal-footer .bottom-footer-section .inner-footer-section .legal-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  z-index: 99;
}

.universal-footer .bottom-footer-section .inner-footer-section .legal-section a {
  padding-bottom: .5rem;
  margin-left: 1.5rem;
  font-size: .825rem;
  font-family: book;
  color: #2B1951;
}

.universal-footer .bottom-footer-section .inner-footer-section .legal-section a:hover {
  border-bottom: 1px solid #ede0f3;
}

@media screen and (max-width: 57.5rem) {
  .universal-footer {
    display: -ms-grid;
    display: grid;
    justify-items: flex-start;
    margin-left: .75rem;
  }
  .universal-footer .bottom-footer-section {
    margin-left: 1.65rem;
  }
  .universal-footer .bottom-footer-section .inner-footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0rem;
  }
  .universal-footer .bottom-footer-section .inner-footer-section p {
    padding: 0;
    margin-bottom: 1.5rem;
  }
  .universal-footer .bottom-footer-section .inner-footer-section .legal-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .universal-footer .bottom-footer-section .inner-footer-section .legal-section a {
    padding-bottom: .75rem;
    margin: 0;
  }
  .universal-footer .bottom-footer-section .inner-footer-section .legal-section a:hover {
    border-bottom: none;
  }
}

header {
  position: relative;
  z-index: 99999;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .main-logo a img {
  width: 6rem;
}

header .main-logo a img:hover {
  -webkit-animation: shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
          animation: shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 100%;
          perspective: 100%;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-0.5px, 0, 0);
            transform: translate3d(-0.5px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(1px, 0, 0);
            transform: translate3d(1px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-2px, 0, 0);
            transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-0.5px, 0, 0);
            transform: translate3d(-0.5px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(1px, 0, 0);
            transform: translate3d(1px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-2px, 0, 0);
            transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #F2F6F9;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

body {
  overflow-y: scroll;
}

main {
  background: #F2F6F9;
}

img {
  display: block;
  width: 100%;
  height: auto;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  font-family: 'book';
}

h1 {
  font-size: 4.75rem;
  font-family: bold;
  color: #2B1951;
}

h2 {
  font-family: bold;
  font-size: 2.5rem;
  color: #2B1951;
}

h3, h4, h5, h6 {
  font-family: 'medium';
  color: #2B1951;
  text-shadow: none;
}

p {
  font-family: 'book';
  font-size: 1.1rem;
  color: #2B1951;
  text-shadow: none;
}

ul, ol {
  list-style: none;
  margin: 0;
}

span {
  font-family: bold;
  font-size: 2.5rem;
  color: #2B1951;
}

/* CORE PAGE PROFILE */
.legal-bubble-1 .legal-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.legal-bubble-1 .legal-section .title {
  max-width: 55rem;
}

.legal-bubble-1 .legal-section .title .text h1 {
  font-family: book;
  font-weight: 100;
  font-size: 2rem;
  text-align: center;
}

.legal-bubble-1 .legal-section .title .text p {
  padding: 1.5rem 0 1.5rem 0;
  font-size: .825rem;
  text-align: center;
  color: #585858;
}

.legal-bubble-1 .legal-section .title .text p:nth-child(3) {
  padding: 2rem 2rem 0 2rem;
  font-size: .975rem;
  line-height: 2rem;
  text-align: left;
  color: #000;
}

.legal-bubble-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 12.50rem 0;
}

.legal-bubble-2 .legal-section .terms {
  margin-top: 3rem;
  max-width: 55rem;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.legal-bubble-2 .legal-section .terms .text h1 {
  font-family: book;
  font-weight: 100;
  font-size: 1.15rem;
  padding: 0 1.25rem;
}

.legal-bubble-2 .legal-section .terms .text h2 {
  font-family: book;
  font-weight: 100;
  padding: 2rem 1.25rem 0rem 1.25rem;
  font-size: 1.15rem;
}

.legal-bubble-2 .legal-section .terms .text p {
  padding: 1rem 2rem 0 2rem;
  font-size: .975rem;
  line-height: 2rem;
  text-align: left;
}

.legal-bubble-2 .legal-section .terms .text a {
  font-size: .975rem;
  font-family: medium;
  color: #4BA9FF;
}

.legal-bubble-2 .legal-section .terms .text a:hover {
  opacity: .85;
}

.legal-bubble-2 .legal-section .terms .text ul {
  padding-left: 5rem;
}

.legal-bubble-2 .legal-section .terms .text ul li {
  list-style-type: disc;
  max-width: 40rem;
}

.legal-bubble-2 .legal-section .terms .text ul li p {
  padding: 1rem .75rem 0 .75rem;
  font-size: .975rem;
  line-height: 2rem;
  text-align: left;
}

.privacy-bubble-1 .privacy-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.privacy-bubble-1 .privacy-section .title {
  max-width: 55rem;
}

.privacy-bubble-1 .privacy-section .title .text h1 {
  font-family: book;
  font-weight: 100;
  font-size: 2rem;
  text-align: center;
}

.privacy-bubble-1 .privacy-section .title .text p {
  padding: 1.5rem 0 1.5rem 0;
  font-size: .825rem;
  text-align: center;
  color: #585858;
}

.privacy-bubble-1 .privacy-section .title .text p:nth-child(3),
.privacy-bubble-1 .privacy-section .title .text p:nth-child(4) {
  padding: 2rem 2rem 0 2rem;
  font-size: .975rem;
  line-height: 2rem;
  text-align: left;
  color: #000;
}

.privacy-bubble-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 12.50rem 0;
}

.privacy-bubble-2 .privacy-section .terms {
  margin-top: 3rem;
  max-width: 55rem;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.privacy-bubble-2 .privacy-section .terms .text h1 {
  font-family: book;
  font-weight: 100;
  font-size: 1.15rem;
  padding: 0 1.25rem;
}

.privacy-bubble-2 .privacy-section .terms .text h2 {
  font-family: book;
  font-weight: 100;
  padding: 2rem 1.25rem 0rem 1.25rem;
  font-size: 1.15rem;
}

.privacy-bubble-2 .privacy-section .terms .text p {
  padding: 1rem 2rem 0 2rem;
  font-size: .975rem;
  line-height: 2rem;
  text-align: left;
}

.privacy-bubble-2 .privacy-section .terms .text a {
  font-size: .975rem;
  font-family: medium;
  color: #4BA9FF;
}

.privacy-bubble-2 .privacy-section .terms .text a:hover {
  opacity: .85;
}

.privacy-bubble-2 .privacy-section .terms .text ul {
  padding-left: 5rem;
}

.privacy-bubble-2 .privacy-section .terms .text ul li {
  list-style-type: disc;
  max-width: 40rem;
}

.privacy-bubble-2 .privacy-section .terms .text ul li p {
  padding: 1rem .75rem 0 .75rem;
  font-size: .975rem;
  line-height: 2rem;
  text-align: left;
}

.__first-careers-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fadeIn ease 1.5s;
          animation: fadeIn ease 1.5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: .25;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: .25;
  }
  100% {
    opacity: 1;
  }
}

.__first-careers-section .__right-sub-section {
  margin: 0rem -3.5rem;
}

.__first-careers-section .__right-sub-section .__img img {
  width: 25rem;
}

.__first-careers-section .__left-sub-section {
  -webkit-box-flex: 27.5rem;
      -ms-flex: 27.5rem 0;
          flex: 27.5rem 0;
  margin: 7.5rem 0rem;
  position: relative;
  z-index: 9;
}

.__first-careers-section .__left-sub-section h1 span {
  color: #4BA9FF;
  font-size: 4.75rem;
  font-family: bold;
}

.__first-careers-section .__left-sub-section button {
  margin-top: 1.25rem;
  background: transparent;
  outline: none;
  border: none;
  padding: .9rem 1.1rem;
  color: #292929;
  cursor: pointer;
  position: relative;
  z-index: 0;
  font-family: bold;
  font-size: .925rem;
  border: 3px solid #292929;
  border-radius: 1rem;
}

.__first-careers-section .__left-sub-section button .glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  -webkit-filter: blur(0.35rem);
          filter: blur(0.35rem);
  width: calc(100% + .2rem);
  height: calc(100% + .2rem);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  border-radius: 1rem;
  outline: none;
}

.__first-careers-section .__left-sub-section button .glow-on-hover:hover:before {
  opacity: 1;
}

.__first-careers-section .__left-sub-section button .glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F2F6F9;
  left: 0;
  top: 0;
  border-radius: 1rem;
  border: none;
  outline: none;
}

@-webkit-keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.__first-careers-section .__left-sub-section button:hover {
  -webkit-transition: ease-in-out .35s;
  transition: ease-in-out .35s;
  -webkit-transform: rotate(1.5deg) scale(1.125);
          transform: rotate(1.5deg) scale(1.125);
}

@media screen and (max-width: 60rem) and (min-width: 48.4375rem) {
  .__first-careers-section .__right-sub-section {
    margin: 5rem -2.5rem;
  }
  .__first-careers-section .__right-sub-section .__img img {
    width: 20rem;
  }
  .__first-careers-section .__left-sub-section {
    -webkit-box-flex: 22.5rem;
        -ms-flex: 22.5rem 0;
            flex: 22.5rem 0;
  }
  .__first-careers-section .__left-sub-section h1 {
    font-size: 4rem;
  }
  .__first-careers-section .__left-sub-section h1 span {
    font-size: 4rem;
  }
}

@media screen and (max-width: 48.4375rem) and (min-width: 40rem) {
  .__first-careers-section .__right-sub-section {
    margin: 5rem 0;
  }
  .__first-careers-section .__right-sub-section .__img img {
    width: 17.5rem;
    margin-left: 1rem;
  }
  .__first-careers-section .__left-sub-section {
    -webkit-box-flex: 15rem;
        -ms-flex: 15rem 0;
            flex: 15rem 0;
    margin-left: 2rem;
  }
  .__first-careers-section .__left-sub-section h1 {
    font-size: 3rem;
  }
  .__first-careers-section .__left-sub-section h1 span {
    font-size: 3rem;
  }
}

@media screen and (max-width: 40rem) {
  .__first-careers-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .__first-careers-section .__right-sub-section {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .__first-careers-section .__right-sub-section .__img img {
    width: 17.5rem;
  }
  .__first-careers-section .__left-sub-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 3rem 0 0 0;
  }
  .__first-careers-section .__left-sub-section h1 {
    font-size: 2.25rem;
  }
  .__first-careers-section .__left-sub-section h1 span {
    font-size: 2.25rem;
  }
  .__first-careers-section .__left-sub-section button {
    margin-top: 1.75rem;
  }
}

.second-careers-bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second-careers-bubble .background-layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-careers-bubble .background-layer .background-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.second-careers-bubble .background-layer .background-img img {
  width: 40rem;
  height: 40rem;
}

.second-careers-bubble .background-layer .text {
  max-width: 17.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 5rem 3.5rem 1rem 3.5rem;
}

.second-careers-bubble .background-layer .text .inner-text {
  -webkit-animation: fadeIn ease 7s;
          animation: fadeIn ease 7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.second-careers-bubble .background-layer .text .inner-text h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.second-careers-bubble .background-layer .text .inner-text p {
  font-family: book;
  font-size: 1rem;
  padding-bottom: 1.25rem;
  color: #2B1951;
}

@media screen and (max-width: 90.625rem) and (min-width: 62.5rem) {
  .second-careers-bubble .background-layer .text .inner-text p {
    min-width: 15rem;
  }
}

@media screen and (max-width: 60rem) and (min-width: 48.4375rem) {
  .second-careers-bubble .background-layer {
    margin-top: 0rem;
    margin-bottom: -6rem;
  }
  .second-careers-bubble .background-layer .background-img img {
    width: 20rem;
    height: 20rem;
  }
  .second-careers-bubble .background-layer .text {
    min-width: 10rem;
    margin: 1rem 0rem 1rem 5rem;
  }
  .second-careers-bubble .background-layer .text .inner-text h1 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 48.4375rem) and (min-width: 40rem) {
  .second-careers-bubble .background-layer {
    margin-top: 0rem;
    margin-bottom: -6rem;
  }
  .second-careers-bubble .background-layer .background-img img {
    width: 17.5rem;
    height: 17.5rem;
    margin-left: 2rem;
  }
  .second-careers-bubble .background-layer .text {
    min-width: 10rem;
    margin: 1rem 5rem 1rem 4rem;
  }
  .second-careers-bubble .background-layer .text .inner-text h1 {
    font-size: 1rem;
    width: 15rem;
  }
}

@media screen and (max-width: 40rem) {
  .second-careers-bubble {
    margin-top: -15rem;
  }
  .second-careers-bubble .background-layer {
    margin-bottom: -10rem;
  }
  .second-careers-bubble .background-layer .background-img img {
    width: 15rem;
    height: 15rem;
    margin-left: 5rem;
  }
  .second-careers-bubble .background-layer .text {
    min-width: 10rem;
    margin: 0rem 5rem 1rem 3.5rem;
  }
  .second-careers-bubble .background-layer .text .inner-text h1 {
    font-size: 1rem;
    width: 11rem;
  }
}

.third-careers-bubble {
  margin: 7.5rem 0 5.5rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.third-careers-bubble h2 {
  padding-top: 2.5rem;
  max-width: 12.5rem;
  font-size: 3.5rem;
  color: #2B1951;
}

.third-careers-bubble .values-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 60rem;
          flex: 0 60rem;
}

.third-careers-bubble .values-card .card {
  margin: 1.75rem 3.5rem 1.75rem 2rem;
  width: 22.5rem;
}

.third-careers-bubble .values-card .card img {
  width: 2rem;
}

.third-careers-bubble .values-card .card h1 {
  padding: 1.25rem 0 .5rem 0;
  font-size: 1.25rem;
  color: #2B1951;
}

.third-careers-bubble .values-card .card p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #2B1951;
}

@media screen and (max-width: 75rem) and (min-width: 60.9375rem) {
  .third-careers-bubble {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .third-careers-bubble h2 {
    margin: 0 0 2rem 5rem;
    min-width: 25rem;
  }
  .third-careers-bubble .values-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 25rem;
            flex: 0 25rem;
    margin-left: -5rem;
  }
  .third-careers-bubble .values-card .card {
    margin: 1.75rem 0 2.5rem 5rem;
  }
}

@media screen and (max-width: 60.9375rem) {
  .third-careers-bubble {
    margin: 10.5rem 0 5rem 0rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .third-careers-bubble h2 {
    margin: 0 0 2rem 3rem;
    min-width: 25rem;
    font-size: 2.25rem;
  }
  .third-careers-bubble .values-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 30rem;
            flex: 0 30rem;
    margin-left: 0rem;
  }
  .third-careers-bubble .values-card .card {
    margin: 1.75rem 0 2.25rem 0rem;
  }
}

.fifth-careers-bubble {
  margin: 5rem 0 5.5rem 0rem;
  padding: 3.5rem 0 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #2B1951;
}

.fifth-careers-bubble h2 {
  padding-top: 2.5rem;
  max-width: 17.5rem;
  font-size: 3.5rem;
  color: #f6f6f6;
}

.fifth-careers-bubble .values-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 60rem;
          flex: 0 60rem;
}

.fifth-careers-bubble .values-card .card {
  margin: 1.75rem 3.5rem 1.75rem 2rem;
  width: 22.5rem;
}

.fifth-careers-bubble .values-card .card h1 {
  padding: 1.25rem 0 .5rem 0;
  font-size: 1.25rem;
  color: #f6f6f6;
}

.fifth-careers-bubble .values-card .card p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #f6f6f6;
}

.fifth-careers-bubble .values-card .card:nth-child(2) img {
  background: url("../../images/icons/duotone/grin.svg");
}

.fifth-careers-bubble .values-card .card:nth-child(3) img {
  background: url("../../images/icons/duotone/users.svg");
  background-repeat: no-repeat;
}

.fifth-careers-bubble .values-card .card:nth-child(4) img {
  background: url("../../images/icons/duotone/tree-palm.svg");
  background-repeat: no-repeat;
}

@media screen and (max-width: 83rem) and (min-width: 60.9375rem) {
  .fifth-careers-bubble {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fifth-careers-bubble h2 {
    max-width: 20rem;
    margin-bottom: 1rem;
  }
  .fifth-careers-bubble .values-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 25rem;
            flex: 0 25rem;
    min-height: 37.5rem;
  }
  .fifth-careers-bubble .values-card .card {
    margin: 1.75rem 0 1.75rem 5rem;
  }
}

@media screen and (max-width: 60.9375rem) {
  .fifth-careers-bubble {
    margin: 5rem 0 -10rem 0rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fifth-careers-bubble h2 {
    margin: 0 0 2rem 3rem;
    min-width: 25rem;
    font-size: 2.25rem;
  }
  .fifth-careers-bubble .values-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 80rem;
            flex: 0 80rem;
    margin-left: 0rem;
  }
  .fifth-careers-bubble .values-card .card {
    margin: 1.75rem 0 2.25rem 0rem;
  }
}

.sixth-career-bubble {
  background: #F2F6F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 7.5rem;
}

.sixth-career-bubble .inner-box .jobs-table .header-text h2 {
  font-size: 3.5rem;
  padding-bottom: 4rem;
  font-family: bold;
}

.sixth-career-bubble .inner-box .jobs-table table {
  border-collapse: collapse;
  width: 50rem;
}

.sixth-career-bubble .inner-box .jobs-table th {
  font-family: bold;
  font-size: .7rem;
  color: #2B1951;
}

.sixth-career-bubble .inner-box .jobs-table .fa-caret-right {
  margin-left: .25rem;
}

.sixth-career-bubble .inner-box .jobs-table td, .sixth-career-bubble .inner-box .jobs-table th {
  border: none;
  text-align: left;
}

.sixth-career-bubble .inner-box .jobs-table td {
  font-size: 1rem;
  font-family: book;
  padding: 2rem;
  padding-left: 0rem;
  color: #2B1951;
}

.sixth-career-bubble .inner-box .jobs-table td:nth-child(1) {
  font-family: medium;
  font-size: 1.5rem;
  width: 55rem;
  color: #2B1951;
}

.sixth-career-bubble .inner-box .jobs-table th:nth-child(2) {
  width: 9rem;
}

.sixth-career-bubble .inner-box .jobs-table td:nth-child(3) {
  width: 10rem;
}

.sixth-career-bubble .inner-box .jobs-table tr {
  border-bottom: 1px solid #e0e0e0;
}

.sixth-career-bubble .inner-box .jobs-table tr:nth-child(1) {
  border-bottom: none;
}

.sixth-career-bubble .inner-box .jobs-table tr:last-child {
  border-bottom: none;
}

.sixth-career-bubble .inner-box .jobs-table a {
  text-decoration: none;
  color: #2B1951;
  font-family: medium;
}

.sixth-career-bubble .inner-box .jobs-table a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  cursor: pointer;
  color: #514D69;
}

@media screen and (max-width: 72.5rem) and (min-width: 55rem) {
  .sixth-career-bubble .inner-box {
    padding: 2.5rem 0 0rem 0;
  }
  .sixth-career-bubble .inner-box .jobs-table table {
    width: 47.5rem;
  }
  .sixth-career-bubble .inner-box .jobs-table th {
    font-size: .8rem;
    padding-left: .35rem;
  }
  .sixth-career-bubble .inner-box .jobs-table td {
    font-size: 1rem;
  }
  .sixth-career-bubble .inner-box .jobs-table td:nth-child(1) {
    width: 30rem;
  }
}

@media screen and (max-width: 55rem) and (min-width: 44.375rem) {
  .sixth-career-bubble .inner-box {
    padding: 2.5rem 0;
  }
  .sixth-career-bubble .inner-box .jobs-table .header-text h2 {
    font-size: 2.25rem;
  }
  .sixth-career-bubble .inner-box .jobs-table table {
    width: 40rem;
  }
  .sixth-career-bubble .inner-box .jobs-table th {
    font-size: .75rem;
  }
  .sixth-career-bubble .inner-box .jobs-table td {
    padding: 2rem;
    padding-left: 0;
    font-size: 1rem;
  }
  .sixth-career-bubble .inner-box .jobs-table td:nth-child(1) {
    font-size: 1.25rem;
    width: 22.5rem;
  }
}

@media screen and (max-width: 44.375rem) and (min-width: 30rem) {
  .sixth-career-bubble {
    margin-bottom: 7.5rem;
  }
  .sixth-career-bubble .inner-box {
    padding: 2.5rem 0rem 0rem 0rem;
  }
  .sixth-career-bubble .inner-box .jobs-table .header-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sixth-career-bubble .inner-box .jobs-table .header-text h2 {
    font-size: 2.25rem;
  }
  .sixth-career-bubble .inner-box .jobs-table table {
    width: 22.5rem;
  }
  .sixth-career-bubble .inner-box .jobs-table th {
    font-size: .75rem;
  }
  .sixth-career-bubble .inner-box .jobs-table th:nth-child(3) {
    width: 20rem;
  }
  .sixth-career-bubble .inner-box .jobs-table td {
    padding: 1.75rem;
    padding-left: 0;
    font-size: .825rem;
  }
  .sixth-career-bubble .inner-box .jobs-table td:nth-child(1) {
    font-size: 1rem;
    width: 20rem;
  }
}

@media screen and (max-width: 30rem) {
  .sixth-career-bubble .inner-box {
    padding: 0rem 0rem 18rem 0rem;
  }
  .sixth-career-bubble .inner-box .jobs-table .header-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sixth-career-bubble .inner-box .jobs-table .header-text h2 {
    font-size: 2.25rem;
  }
  .sixth-career-bubble .inner-box .jobs-table table {
    width: 15rem;
  }
  .sixth-career-bubble .inner-box .jobs-table th {
    font-size: .75rem;
  }
  .sixth-career-bubble .inner-box .jobs-table td {
    font-size: .85rem;
    padding: 2.5rem;
    padding-left: .4rem;
  }
  .sixth-career-bubble .inner-box .jobs-table td:nth-child(1) {
    font-size: 1rem;
  }
  .sixth-career-bubble .inner-box .jobs-table th:nth-child(3) {
    display: none;
  }
  .sixth-career-bubble .inner-box .jobs-table td:nth-child(3) {
    display: none;
  }
}

.first-busdev-bubble {
  padding: 1.5rem 0 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.first-busdev-bubble .left {
  margin-right: 7.5rem;
  width: 32.50rem;
}

@media screen and (max-width: 66.25rem) {
  .first-busdev-bubble .left {
    padding-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

.first-busdev-bubble .left .upper {
  border-bottom: 1px solid #ccc;
  margin-bottom: 3rem;
  padding-bottom: 4.25rem;
}

.first-busdev-bubble .left .upper .back-btn img {
  width: .85rem;
}

.first-busdev-bubble .left .upper .back-btn a {
  position: relative;
  top: -1.15rem;
  left: 1.25rem;
  color: #585858;
  font-size: .95rem;
}

.first-busdev-bubble .left .upper .back-btn:hover a {
  opacity: .85;
}

.first-busdev-bubble .left .upper .back-btn:hover img {
  -webkit-transform: translateX(-0.25rem);
          transform: translateX(-0.25rem);
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.first-busdev-bubble .left .upper h1 {
  padding: 1.25rem 0 .5rem 0;
  font-family: 'bold';
  font-size: 2.25rem;
  color: #2B1951;
}

.first-busdev-bubble .left .upper .location {
  padding: .5rem 0 1.5rem 0;
}

.first-busdev-bubble .left .upper .location img {
  width: 1.2rem;
}

.first-busdev-bubble .left .upper .location h2 {
  position: relative;
  top: -1.25rem;
  left: 1.75rem;
  font-size: 1.25rem;
  font-family: book;
  color: #514D69;
}

.first-busdev-bubble .left .upper button {
  background: transparent;
  outline: none;
  border: none;
  padding: .9rem 1.1rem;
  color: #292929;
  cursor: pointer;
  position: relative;
  z-index: 0;
  font-family: bold;
  font-size: .925rem;
  border: 3px solid #292929;
  border-radius: 1rem;
}

.first-busdev-bubble .left .upper button .glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  -webkit-filter: blur(0.35rem);
          filter: blur(0.35rem);
  width: calc(100% + .2rem);
  height: calc(100% + .2rem);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  border-radius: 1rem;
  outline: none;
}

.first-busdev-bubble .left .upper button .glow-on-hover:hover:before {
  opacity: 1;
}

.first-busdev-bubble .left .upper button .glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F2F6F9;
  left: 0;
  top: 0;
  border-radius: 1rem;
  border: none;
  outline: none;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.first-busdev-bubble .left .upper button:hover {
  -webkit-transition: ease-in-out .35s;
  transition: ease-in-out .35s;
  -webkit-transform: rotate(1.5deg) scale(1.125);
          transform: rotate(1.5deg) scale(1.125);
}

.first-busdev-bubble .left .lower p {
  color: #2B1951;
  padding-bottom: 1rem;
}

.first-busdev-bubble .left .lower h2 {
  padding: 1rem 0;
  color: #514D69;
  font-size: 1rem;
}

.first-busdev-bubble .left .lower ul {
  margin-left: 1.75rem;
  margin-bottom: 1rem;
  list-style: disc;
}

.first-busdev-bubble .left .lower ul li {
  padding: .75rem 0 0 1rem;
  list-style: disc;
  font-size: 1rem;
  font-family: book;
  color: #2B1951;
}

.first-busdev-bubble .left .lower ul li:nth-child(1) {
  padding-top: 0;
}

.first-busdev-bubble .left .lower button {
  margin-top: 1.25rem;
  background: transparent;
  outline: none;
  border: none;
  padding: .9rem 1.1rem;
  color: #292929;
  cursor: pointer;
  position: relative;
  z-index: 0;
  font-family: bold;
  font-size: .925rem;
  border: 3px solid #292929;
  border-radius: 1rem;
}

.first-busdev-bubble .left .lower button .glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  -webkit-filter: blur(0.35rem);
          filter: blur(0.35rem);
  width: calc(100% + .2rem);
  height: calc(100% + .2rem);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  border-radius: 1rem;
  outline: none;
}

.first-busdev-bubble .left .lower button .glow-on-hover:hover:before {
  opacity: 1;
}

.first-busdev-bubble .left .lower button .glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F2F6F9;
  left: 0;
  top: 0;
  border-radius: 1rem;
  border: none;
  outline: none;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.first-busdev-bubble .left .lower button:hover {
  -webkit-transition: ease-in-out .35s;
  transition: ease-in-out .35s;
  -webkit-transform: rotate(1.5deg) scale(1.125);
          transform: rotate(1.5deg) scale(1.125);
}

.first-busdev-bubble .right {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  max-width: 22.5rem;
  max-height: 51rem;
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 43.5rem) {
  .first-busdev-bubble .right {
    display: none;
  }
}

.first-busdev-bubble .right .inner-content {
  padding: 2rem 0 0 2rem;
}

.first-busdev-bubble .right .inner-content img {
  width: 5rem;
  height: 5rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
}

.first-busdev-bubble .right .inner-content h1 {
  margin: 1.25rem 0 2rem 0;
  font-size: 1.25rem;
}

.first-busdev-bubble .right .inner-content h2 {
  margin: .5rem 0;
  font-size: .95rem;
  font-family: bold;
  color: #979797;
}

.first-busdev-bubble .right .inner-content h3 {
  color: #979797;
  font-size: .95rem;
  font-family: bold;
  margin-bottom: .75rem;
}

.first-busdev-bubble .right .inner-content p {
  margin-bottom: 2rem;
  font-size: .875rem;
  padding-right: 3.5rem;
}

.first-busdev-bubble .right .inner-content .leadership-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: -1.25rem;
}

.first-busdev-bubble .right .inner-content .leadership-btn a {
  font-size: .875rem;
  font-family: bold;
  color: #2B1951;
}

.first-busdev-bubble .right .inner-content .leadership-btn a:hover {
  color: #514D69;
}

.first-busdev-bubble .right .inner-content .leadership-btn p {
  font-size: .875rem;
}

.__first-index-section {
  margin: 3rem 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fadeIn ease 1.5s;
          animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: .25;
  }
  100% {
    opacity: 1;
  }
}

.__first-index-section .__left-sub-section {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.__first-index-section .__left-sub-section h1, .__first-index-section .__left-sub-section h2 {
  text-align: center;
  width: 27.5rem;
  font-size: 1.25rem;
}

.__first-index-section .__left-sub-section h2 {
  margin-top: .25rem;
  font-size: 3.5rem;
}

.__second-index-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fadeIn ease 1.5s;
          animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: .25;
  }
  100% {
    opacity: 1;
  }
}

.__second-index-section .form {
  width: 25rem;
}

@media screen and (max-width: 57.5rem) {
  .__second-index-section .form {
    width: 13rem;
  }
}

.__second-index-section .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.__second-index-section .form form label {
  font-size: .825rem;
  font-family: bold;
  color: #2B1951;
  padding: 1.5rem 0 .5rem 0;
}

.__second-index-section .form form input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: .65rem 1rem .65rem 1rem;
  outline: none;
  font-family: book;
  cursor: pointer;
  border: solid 1px #ccc;
  border-radius: .5rem;
  background: transparent;
  font-size: .875rem;
  width: 18rem;
}

.__second-index-section .form .terms {
  margin: 1rem 0 .75rem 0;
  text-align: center;
}

.__second-index-section .form .terms p {
  padding-bottom: .5rem;
  font-size: .725rem;
}

.__second-index-section .form .terms p a {
  font-size: .775rem;
  color: #511497;
}

.__second-index-section .form .terms p a:hover {
  color: #2B1951;
}

.__second-index-section .form .terms button {
  margin: 1rem 0;
  background: transparent;
  outline: none;
  border: none;
  padding: .9rem 1.1rem;
  color: #292929;
  cursor: pointer;
  position: relative;
  z-index: 0;
  font-family: bold;
  font-size: .925rem;
  border: 3px solid #292929;
  border-radius: 1rem;
}

.__second-index-section .form .terms button .glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  -webkit-filter: blur(0.35rem);
          filter: blur(0.35rem);
  width: calc(100% + .2rem);
  height: calc(100% + .2rem);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  border-radius: 1rem;
  outline: none;
}

.__second-index-section .form .terms button .glow-on-hover:hover:before {
  opacity: 1;
}

.__second-index-section .form .terms button .glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #F2F6F9;
  left: 0;
  top: 0;
  border-radius: 1rem;
  border: none;
  outline: none;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.__second-index-section .form .terms button:hover {
  -webkit-transition: ease-in-out .35s;
  transition: ease-in-out .35s;
  -webkit-transform: rotate(1.5deg) scale(1.125);
          transform: rotate(1.5deg) scale(1.125);
}

.home-footer {
  position: absolute;
  bottom: 0;
  height: 5rem;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */