// SCSS TOOLS FOR MULTIPLE PAGES //
@import
'base-layout/font-styles', //font imports
'base-layout/colors', // std color pallet
'base-layout/buttons', //standard pg btns
'base-layout/header-footer/footer', //single footer for all screen sizes
'base-layout/header-footer/header-main', //header for ipad/desktop size
'base-layout/page-profile'; /* CORE PAGE PROFILE */

// SCSS SINGLE PAGE IMPORTS //
@import 
'legal/legal', 
'legal/privacy',

'jobs/jobs',
'jobs/jobs-page';

.__first-index-section{
   margin:3rem 0 1rem 0;
   display: flex;
   justify-content: center;
   animation: fadeIn ease 1.5s;
   @keyframes fadeIn {
      0% {opacity:.25;}
      100% {opacity:1;}
   }
   .__left-sub-section{
      align-self: center;
      h1,h2{
         text-align: center;
         width:27.5rem;
         font-size:1.25rem;
      }
      h2{
         margin-top: .25rem;
         font-size: 3.5rem;
      }
   }
}

.__second-index-section{
   margin-bottom:10rem;
   display: flex;
   justify-content: center;
   animation: fadeIn ease 1.5s;
   @keyframes fadeIn {
      0% {opacity:.25;}
      100% {opacity:1;}
   }
   .form{
      width:24.5rem;
      @media screen 
         and (max-width: 57.5rem) {
            width:13rem;
      }
   form{
       display:flex;
       flex-direction: column;
       text-align: center;
        label{
           font-size:.825rem;
           font-family:bold;
           color: $dark-purple;
           padding:1.5rem 0 .5rem 0;
        }
   
        input{
           align-self: center;
           padding:.65rem 1rem .65rem 1rem;
           outline:none;
           font-family: book;
           cursor:pointer;
           border:solid 1px #ccc;
           border-radius: .5rem;
           background:transparent;
           font-size:.875rem;
           width:18rem;
        }
         
   }
   .terms{
       margin: 1rem 0 .75rem 0;
       text-align: center;
       p{
           padding-bottom:.5rem;
           font-size:.725rem;
           a{
               font-size:.775rem;
               color:rgb(81, 20, 151);
               &:hover {
                   color:$dark-purple;
               }
           }   
       }

       button{
          margin:1rem 0;
         @include glow-effect-btn-sq();
         border:3px solid $black;
         border-radius: 1rem;
         &:hover{
            transition: ease-in-out .35s;
            transform: rotate(1.5deg) scale(1.125);
         }
      }
   }
   }
}

