// SCSS TOOLS FOR MULTIPLE PAGES //
@import
'base-layout/font-styles', //font imports
'base-layout/colors', // std color pallet
'base-layout/buttons', //standard pg btns
'base-layout/header-footer/footer', //single footer for all screen sizes
'base-layout/header-footer/header-main', //header for ipad/desktop size
'base-layout/page-profile'; /* CORE PAGE PROFILE */

// SCSS SINGLE PAGE IMPORTS //
@import 
'legal/legal', 
'legal/privacy',

'jobs/jobs',
'jobs/jobs-page', 

'other-pages/signup';

.__first-index-section{
   display: flex;
   justify-content: center;
   animation: fadeIn ease 1.5s;
   @keyframes fadeIn {
      0% {opacity:.25;}
      100% {opacity:1;}
   }
   .__left-sub-section{
      position: relative;
      left:7.5rem;
      .__img{
         img{  
                  position: relative;
                  top:-3rem;
                  width:55rem;
              } 
            img:nth-child(2){
               margin-left: 13rem;
               position: absolute;
               top:-1.5rem;
               width:17.5rem;border-radius: 1rem;
               animation-name: stretch; 
               animation-duration: 2.5s; 
               animation-timing-function: ease-in-out; 
               animation-direction: alternate; 
               animation-iteration-count: infinite; 
               animation-play-state: running; 
            }
            @keyframes stretch { //moves img in and out on home screen
               0% { 
                   transform: scale(.925) rotate(2deg); 
                   background-color: $superwhite; 
               } 
               100% { 
                   transform: scale(1) rotate(-4deg); 
                   background-color:$superwhite; 
               } 
           }
            }
      }
      
   .__right-sub-section{
      position: relative;
      top:-9.5rem;
      left:-12rem;
      z-index: 999;
      align-self: center;
      h2{
         text-align: center;
      }
      a{
         img{
            margin:1.5rem 3.25rem;
            width:12.5rem;
            &:hover{
               transition: ease-in-out .35s;
               transform: rotate(1.5deg) scale(1.1);
            }
         }
         img:nth-child(2){ // google img if needed
            width:17.5rem;
            height:7rem; 
            margin: 0rem -1.25rem;
         }
      }
   }
}
@media screen and (max-width: 60rem)
              and (min-width: 45rem) {
               .__first-index-section{
                  margin-bottom:0;
                  .__left-sub-section{
                     .__img{
                        img{
                           width: 47.5rem;
                        }
                           img:nth-child(2){
                              margin-left:11rem;
                              top:-2rem;
                              width:15rem;
                           }
                           }
                     }
                  .__right-sub-section{
                     left:-10rem;
                     h2, span{
                        font-size:1.5rem;
                     }
                     a{
                        img{
                           margin:1.5rem 1.2rem;
                           width:10rem;
                          }
                     }
                  }
               }
}

@media screen and (max-width: 45rem){
   .__first-index-section{
      margin-bottom: 8rem;
      display: flex;
   .__left-sub-section{
      align-self: center;
      .__img{
         left:8rem;
         img{
                  width:33rem;
              } 
              img:nth-child(2){
                 display: none;
              }
            }
      }
      
   .__right-sub-section{
      top:-5rem;
      left: -16.25rem;
      h2,span{
         font-size:2rem
      }
      a{
         img{
            width:10rem;
         }
      }
   }
}
}