/* FONTS */
   @font-face {
      font-family:'book';
      src: url('base-layout/fonts/hugeups-book.woff2') format('woff2');
}
   @font-face {
      font-family:'medium';
      src: url('base-layout/fonts/hugeups-medium.woff2') format('woff2');

}
   @font-face {
      font-family:'bold';
      src: url('base-layout/fonts/hugeups-bold.woff2') format('woff2');
   }

   @font-face {
      font-family:'arial';
      src: url('base-layout/fonts/hugeups-arial.woff2') format('woff2');
   }