.__first-adpost2-section{
   margin:1.65rem 0 0 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   animation: fadeIn ease 1.5s;
   @keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
   }
   .__outer-sub-section{
      .__center-title{
         margin-bottom: .25rem;
         h2{
            width:4.75rem;
            padding:.5rem .8rem;
            border-radius: .3rem;
            background: $burple-superlight;
         }
      }
      .__center-sub-section{
         padding-bottom:.65rem;
         width:17.25rem; // this should match the carousel widths`
         overflow-x: auto;
         scroll-snap-type: x mandatory;
         scroll-behavior: smooth;
         -webkit-overflow-scrolling: touch;
         .category__options{
            display: flex;
            width:5rem;
            cursor: pointer;
               .category{
                  margin:0 .5rem;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  padding:.25rem 0;
                     img{
                        margin-bottom: .35rem;
                        width:2.25rem;
                        height: auto;
                        &:hover{
                              border-radius: 100rem;
                              box-shadow: 0px 0px 7px -2px $burple;
                        }
                        }
                        h1{
                           font-size: .7rem;
                        }
                     }
            }
         }
   }
   }
   .__second-adpost2-section{
      margin:1rem 0 1.5rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      animation: fadeIn ease 1.5s;
         @keyframes fadeIn {
            0% {opacity:0;}
               100% {opacity:1;}
            }
      .__outer-sub-section{
         .__center-title{
            display: flex;
            justify-content: space-between;
            h2{
               background: $burple-superlight;
               padding:.5rem .8rem;
               border-radius: .3rem;
            }
            p{
               align-self: center;
            }
            p, output{
               font-size:.9rem;
               color: $dark-purple;
            }
         }
         .__center-sub-section{
            padding:1rem 0 0 0;
            display: flex;
            flex-wrap: no;
            align-self: center;
                               /* The slider itself */
            .__slider {
            display: flex;
            align-items: center;
            flex-direction: column;   
            opacity: .8; 
            position: relative;
            z-index: 999;
               input[type='range'] {
               overflow: hidden;
               width: 17rem;
               border-radius: 100rem;
               appearance: none;
               background-color: $burple-superlight;
               outline:none;
               border:none;
               }
               input[type='range']::-webkit-slider-runnable-track {
                  height: 1.15rem;
                  border-radius: 100rem;
                  appearance: none;
                  color: $burple-light;
                  outline:none;
                  border:none;
               }
               input[type='range']::-webkit-slider-thumb {
               width: 1.3rem;
               height: 1.15rem;
               border-radius: 100rem;
               appearance: none;
               cursor: grabbing;
               background: $burple;
               box-shadow: -101rem 0 0 100rem $burple-light;
               outline:none;
               border:none;
               }
            }
          }
      }
   }
   .__third-adpost2-section{
      margin:1.5rem 0 1.5rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      animation: fadeIn ease 1.5s;
         @keyframes fadeIn {
            0% {opacity:0;}
               100% {opacity:1;}
            }
      .__outer-sub-section{
         .__center-title{
            display: flex;
            justify-content: space-between;
            h2{
               background: $burple-superlight;
               padding:.5rem .8rem;
               border-radius: .3rem;
            }
            p{
               align-self: center;
            }
            p, output{
               font-size:.9rem;
               color: $dark-purple;
            }
         }
         .__center-sub-section{
            padding:1rem 0 0 0;
            display: flex;
            flex-wrap: no;
            align-self: center;
                               /* The slider itself */
            .__slider {
            display: flex;
            align-items: center;
            flex-direction: column;   
            opacity: .8; 
            position: relative;
            z-index: 999;
               input[type='range'] {
               overflow: hidden;
               width: 17rem;
               border-radius: 100rem;
               appearance: none;
               background-color: $burple-superlight;
               outline:none;
               border:none;
               }
               
               input[type='range']::-webkit-slider-runnable-track {
                  height: 1.15rem;
                  border-radius: 100rem;
                  appearance: none;
                  color: $burple-light;
                  outline:none;
                  border:none;
               }
               input[type='range']::-webkit-slider-thumb {
               width: 1.3rem;
               height: 1.15rem;
               border-radius: 100rem;
               appearance: none;
               cursor: grabbing;
               background: $burple;
               box-shadow: -101rem 0 0 100rem $burple-light;
               outline:none;
               border:none;
               }
            }
          }
      }
   }
    .__fourth-adpost2-section{
      margin:0 0 1.75rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      animation: fadeIn ease 1.5s;
         @keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
            }
      .__outer-sub-section{
         .__center-title{
            display: flex;
            justify-content: space-between;
            h2{
               background: $burple-superlight;
               padding:.5rem .8rem;
               border-radius: .3rem;
            }
            p{
               align-self: center;
            }
            p, output{
               font-size:.9rem;
               color: $dark-purple;
            }
         }
         .__center-sub-section{
            padding:1rem 0 0 0 ;
            display: flex;
            flex-wrap: no;
            align-self: center;
                               /* The slider itself */
            .__slider {
            display: flex;
            align-items: center;
            flex-direction: column;   
            opacity: .8; 
            position: relative;
            z-index: 999;
               input[type='range'] {
               overflow: hidden;
               width: 17rem;
               border-radius: 100rem;
               appearance: none;
               background-color: $burple-superlight;
               outline:none;
               border:none;
               }
               
               input[type='range']::-webkit-slider-runnable-track {
                  height: 1.15rem;
                  border-radius: 100rem;
                  appearance: none;
                  color: $burple-light;
                  outline:none;
                  border:none;
               }
               input[type='range']::-webkit-slider-thumb {
               width: 1.3rem;
               height: 1.15rem;
               border-radius: 100rem;
               appearance: none;
               cursor: grabbing;
               background: $burple;
               box-shadow: -101rem 0 0 100rem $burple-light;
               outline:none;
               border:none;
               }
            }
          }
      }
 }
   .__fifth-adpost2-section{
   margin:0rem 0 1.25rem 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   overflow: hidden;
   animation: fadeIn ease 1.5s;
   @keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
   }
   .__outer-sub-section{
      .__center-title{
         h2{
            width:5.6rem;
            background: $burple-superlight;
            padding:.5rem .8rem;
            border-radius: .3rem;

         }
      }
      .__center-sub-section{
         padding:.75rem 0 .5rem 0 ;
         display: flex;
         flex-wrap: no;
         align-self: center;
         max-width: 32.75rem; // this changes the width of the Trending carousel. 
                              // please match this width with all carousels below it. 
            input{
               padding-left: .25rem;
            border:none;
            outline:none;
            font-size: .85rem;
            font-family:medium;
            font-weight: 100;
            width:17rem;
            resize: none;
            &:focus{
               border-radius: .75rem;    
               box-shadow: 0px 0px 10px 0px $burple-light;  
            }
         }
         }
   }
   }
   .__sixth-adpost2-section{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      animation: fadeIn ease 1.5s;
      @keyframes fadeIn {
         0% {opacity:0;}
         100% {opacity:1;}
      }
      .__outer-sub-section{
         .__center-title{
            h2{
               background: $burple-superlight;
               padding:.5rem .8rem;
               border-radius: .3rem;
               width:3.2rem;
            }
         }
         .__center-sub-section{
            padding:.8rem 0 .5rem 0 ;
            display: flex;
            flex-wrap: no;
            align-self: center;
            max-width: 32.75rem; // this changes the width of the Trending carousel. 
                                 // please match this width with all carousels below it. 
               textarea{
               padding:1rem 1.1rem;
               min-width:16.375rem;
               height: 5.5rem;
               border-radius: .5rem;
               border:none;
               outline:none;
               font-size: .8rem;
               font-family:book;
               resize: none;
               &:focus{
                  border-radius: .75rem;    
                  box-shadow: 0px 0px 10px 0px $burple-light;  
               }
            }
            }
      }
      }
   .__seventh-adpost2-section{
      margin:0 0 1rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      animation: fadeIn ease 1.5s;
      @keyframes fadeIn {
         0% {opacity:0;}
         100% {opacity:1;}
      }
         .__center-sub-section{
            padding:1rem 0;
            display: flex;
            flex-wrap: no;
            align-self: center;
                                 // please match this width with all carousels below it. 
            button{
               background: $burple-superlight;
               padding:.9rem 1.25rem;
               border-radius: .3rem;
               font-family: medium;
               font-weight: 100;
               outline:none;
               border:none;
         }
      }
   }

   @media only screen
   and (min-width:45rem){
      .__first-adpost2-section{
         .__outer-sub-section{
            .__center-sub-section{
               width:32.5rem; 
               }
            }
         }
         .__second-adpost2-section{
            .__outer-sub-section{
               .__center-sub-section{
                  .__slider {
                     input[type='range'] {
                        width:32.5rem; 
                     }
                  }
                }
            }
         }
         .__third-adpost2-section{
            .__outer-sub-section{
               .__center-sub-section{
                  .__slider {
                     input[type='range'] {
                        width:32.5rem; 
                     }
                  }
                }
            }
         }
         .__fourth-adpost2-section{
            .__outer-sub-section{
               .__center-sub-section{
                  .__slider {
                     input[type='range'] {
                        width:32.5rem; 
                     }
                  }
                }
            }
         }
         .__fifth-adpost2-section{
            .__outer-sub-section{
               .__center-sub-section{
                     input{
                        width:32.5rem; 
                     }
                  }
               }
            }
            .__sixth-adpost2-section{
               .__outer-sub-section{
                  .__center-sub-section{
                        textarea{
                           width:32.5rem; 
                        }
                     }
                  }
               }
         
      }
   @media only screen
   and (min-width:32.5rem)
   and (max-width:45rem){
      .__first-adpost2-section{
         .__outer-sub-section{
            .__center-sub-section{
               width:24rem; 
               }
            }
         }
         .__second-adpost2-section{
            .__outer-sub-section{
               .__center-sub-section{
                  .__slider {
                     input[type='range'] {
                        width:24rem; 
                     }
                  }
                }
            }
         }
         .__third-adpost2-section{
            .__outer-sub-section{
               .__center-sub-section{
                  .__slider {
                     input[type='range'] {
                        width:24rem; 
                     }
                  }
                }
            }
         }
         .__fourth-adpost2-section{
            .__outer-sub-section{
               .__center-sub-section{
                  .__slider {
                     input[type='range'] {
                     width: 24rem;
                     }
                  }
                }
            }
         }
         .__fifth-adpost2-section{
            .__outer-sub-section{
               .__center-sub-section{
                     input{
                        width:24rem; 
                     }
                  }
               }
            }
            .__sixth-adpost2-section{
               .__outer-sub-section{
                  .__center-sub-section{
                        textarea{
                           width:24rem; 
                        }
                     }
                  }
               }
         
      }