.marketplace-header{
   animation: fadeIn ease 1.5s;
   @keyframes fadeIn {
      0% {opacity:.25;}
      100% {opacity:1;}
   }
   nav{
      display: flex;
      .main-logo{
         position: relative;
         right:12.25rem;
         a{
               img{
                  width:2rem;
                  height:auto;
               }
            }
         }
         button{
            position: relative;
            left:12.25rem;
           @include glow-effect-btn-sq();
           border-radius: 1rem;
           font-size:.8rem;
           color: $dark-purple;
           font-family: medium;
         //   box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.3);
         //       &:hover{
         //          box-shadow:none;
         //       }
        }
   }
}

.__first-marketplace-section{
    margin:0 0 .85rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    animation: fadeIn ease 1.5s;
    @keyframes fadeIn {
       0% {opacity:.25;}
       100% {opacity:1;}
    }
    .__outer-sub-section{
       .__center-sub-section{
          padding:1rem 0 .5rem 0 ;
          display: flex;
          flex-wrap: no;
          align-self: center;
          max-width: 32.75rem; // this changes the width of the Trending carousel. 
                              // please match this width with all carousels below it. 
          overflow-x: auto;
          scroll-snap-type: x mandatory;
          scroll-behavior: smooth;
          -webkit-overflow-scrolling: touch;
          .__advertisement-carousel{
             margin:0 .35rem;
            cursor: pointer;
               .inner-carousel{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  position: relative;
                     img{
                        z-index: 0;
                        width:10.25rem;
                        height: 14rem;
                        background: url('../multimedia/img/active/maketplace/heineken.webp');
                        box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.3);
                        border-radius: 1rem;
                        background-position: center;
                        background-size: 18.5rem;
                        background-repeat: no-repeat;
                     }
                     p{
                        position: absolute;
                        top:11.75rem;
                        left: -3.25rem;
                        z-index: 9999;
                        text-align: center;
                        width:20rem;
                        font-family: bold;
                        font-weight: 900;
                        color: $superwhite;
                     }
                  }
                &:hover{
                  transition: ease-out .25s;
                   transform: translateY(-.25rem);
                }
            }
          }
    }

    }
 
.__second-marketplace-section{
margin:0rem 0 .5rem 0;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
animation: fadeIn ease 1.5s;
@keyframes fadeIn {
   0% {opacity:.25;}
   100% {opacity:1;}
}
.__outer-sub-section{
   .__center-title{
      margin-bottom: .5rem;
   }
   .__center-sub-section{
      width:32.75rem; // this should match the carousel widths`
      .category__options{
         display: flex;
         width:5rem;
         height:5rem;
         cursor: pointer;
            .category{
               margin:0 .5rem;
               display: flex;
               flex-direction: column;
               align-items: center;
               padding:.25rem 0;
                  img{
                     margin-bottom: .35rem;
                     width:3rem;
                     height: auto;
                        &:hover{
                           border-radius: 100rem;
                           box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.3);
                        }
                     }
                     h1{
                        font-size: .6rem;
                     }
                  }
         }
      }
}
}

.__third-marketplace-section,
.__fourth-marketplace-section,
.__fifth-marketplace-section,
.__sixth-marketplace-section{
   margin-bottom: 1.1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   overflow: hidden;
   animation: fadeIn ease 1.5s;
   @keyframes fadeIn {
      0% {opacity:.25;}
      100% {opacity:1;}
   }
   .__outer-sub-section{
      .__center-title{
         display: flex;
            button{
               position: relative;
               padding-top:.125rem;
               background:transparent;
               outline:none;
               border:none;
              font-size:.8rem;
              color: $dark-purple;
              font-family: medium;
                  &:hover{
                     transition: ease-out .15s;
                     cursor: pointer;
                     color:$blue;
                  }
           }
    }
    .__center-sub-section{
       padding:1rem 0 .5rem 0 ;
       display: flex;
       flex-wrap: no;
       align-self: center;
       max-width: 32.75rem;
       overflow-x: auto;
       scroll-snap-type: x mandatory;
       scroll-behavior: smooth;
       -webkit-overflow-scrolling: touch;
       .__advertisement-carousel{
          margin:0 .35rem;
         cursor: pointer;
         .inner-carousel{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
               img{
                  z-index: 0;
                  width:10.25rem;
                  height: 14rem;
                  background: url('../multimedia/img/active/maketplace/heineken.webp');
                  box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.3);
                  border-radius: 1rem;
                  background-position: center;
                  background-size: 18.5rem;
                  background-repeat: no-repeat;
               }
               p{
                  position: absolute;
                  top:11.75rem;
                  left: -3.25rem;
                  z-index: 9999;
                  text-align: center;
                  width:20rem;
                  font-family: bold;
                  font-weight: 900;
                  color: $superwhite;
               }
            }
                  &:hover{
                     transition: ease-out .25s;
                     transform: translateY(-.25rem);
                  }
            }
       }
   }
   } 
   // if you change the h2 title word length, you will need 
   // to fix the padding between the title and "see more" btn
   // this is exactly what this set of rules does - it creates
   // distance between <h2> and <button>
   // fyi their is padding-top:.125rem applied to all see more btns
   .__third-marketplace-section{
         button{
            left:22rem;
         }
   }
   .__fourth-marketplace-section{
         button{
            left:19.75rem;
         }
   }
   .__fifth-marketplace-section{
      button{
         left:18.25rem;
      }
   }
.__sixth-marketplace-section{
      button{
         left:19rem;
      }
   }