.first-signup-bubble{
    display: flex;
    justify-content: center;
    text-align:center;

   .form{
       width:27.5rem;
    h2{
        font-size:1.5rem;
    }

    form{
        display:flex;
        flex-direction: column;
        text-align: left;
         label{
            font-size:.825rem;
            font-family:medium;
            padding:1.5rem 0 .5rem 0;
         }
 
         input{
            padding:.65rem 1rem .65rem 1rem;
            outline:none;
            font-family: book;
            cursor:pointer;
            border:solid 1px #ccc;
            border-radius: .5rem;
            background:transparent;
            font-size:.875rem;
         }
          
    }
    .terms{
        margin: 1rem 0 .75rem 0;
        p{
            padding-bottom:.5rem;
            font-size:.775rem;
            a{
                font-size:.775rem;
                color:rgb(81, 20, 151);
                &:hover {
                    color:$dark-purple;
                }
            }   
        }
    }
    
    button{
        @include darkpurple-square-btn();
        width:8rem;
        background:linear-gradient(to left, $blue, $purple);
      }
   }
  
   }      
