
.__dummy-topic{
   height:45.5rem;
}
//current section is commented out in html
.first-topic-section{
   margin:3.5rem 0 3.5rem 0rem;
   display: flex;
   justify-content: center;
   animation: fadeIn ease 1.5s;
   @keyframes fadeIn {
      0% {opacity:.25;}
      100% {opacity:1;}
   }
      .team-cards{
         display:flex;
         flex-wrap:nowrap;
         flex-direction: column;
         .teammate-card{
            margin: 0 0 3.5rem 0;

            .img-header-section{
               a{
                  img{
                     background:url('../images/active/articles/a1-2020/spac-king-chamath-palihapitiya.webp');
                     width:30rem;
                     height:25rem;
                     background-size:cover;
                     background-repeat:no-repeat;
                     border-radius: .5rem .5rem .25rem .25rem;
                     box-shadow: 0px 0px 7px 1.5px rgba(0,0,0,0.4);
                  } 
                  h1{
                     padding: 1.25rem 0 .05rem 0;
                     font-size:1.25rem;
                     color:$dark-purple;
                  }
                  p{
                     margin-bottom:.6rem;
                     font-size:.85rem;
                     color:$dark-purple;
                  }
               }
            }

            .social-icon-section{
                display:flex;
                flex-wrap: wrap;
              a {
                 display: flex;
                  font-size:.925rem;
                  font-family:medium;
                  color:$dark-purple;
                  padding: .4rem 1rem .5rem 1rem;
                  background:rgb(231, 231, 231);
                  border-radius: .5rem;
                  margin:.5rem .25rem 0 0;
                  img{
                     margin:0.125rem .5rem 0 0;
                     width:1rem;
                     height:1rem;
                  }
               }
              
               }
            
            button{
                @include darkpurple-square-btn();
                margin-top:1.25rem;
                outline:none;
            }
         }
   }
}