.category {
    padding: 0.125rem 0;
    align-self: flex-end;

    img {
      width: 2rem;
      height: auto;

      &:hover {
        border-radius: 100rem;
        box-shadow: 0 0 7px -2px $burple;
      }
    }
  }