.__first-jobs-section{
   display: flex;
   justify-content: center;
   .__center-content{
      margin:1rem 0 9.25rem 0;
      .jobs-card{
         margin-top: 1rem;
         display: flex;
         flex-direction: column;
         align-items: baseline;
         padding: 1.15rem 2.5rem;
         background:transparent;
         outline:none;
         cursor: pointer;
         position: relative;
         z-index: 0;
            &:hover{
               transition: ease-in-out .35s;
               transform: rotate(0deg) scale(1.125);
               position: relative;
               z-index: 9999;
            }
         .glow-on-hover:before {
           content: '';
           background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
           position: absolute;
           top: -2px;
           left:-2px;
           background-size: 400%;
           z-index: -1;
           filter: blur(.5rem);
           width: calc(100% + .2rem);
           height: calc(100% + .2rem);
           animation: glowing 20s linear infinite;
           opacity: 0;
           transition: opacity .3s ease-in-out;
           border-radius: 1rem;
           outline:none;
       }
           .glow-on-hover:hover:before {
             opacity: 1;
           }
           .glow-on-hover:after {
             z-index: -1;
             content: '';
             position: absolute;
             width: 100%;
             height: 100%;
             background: $superwhite;
             left: 0;
             top: 0;
             border-radius: 1rem;
             border:none;
             outline:none;
           }
       @keyframes glowing {
       0% { background-position: 0 0; }
       50% { background-position: 400% 0; }
       100% { background-position: 0 0; }
       }
         h1,h2,h3{
            font-weight: 100;
         }
         .role{
            display: flex;
            img{
               margin-right: .5rem;
               width: 1.5rem;
            }
            h1{
               font-size: 1rem;
            }
         }

         .jobs-description{
            display: flex;
            align-items: center;
            flex-direction: row;
            padding-left: 2.1rem;
            padding-top: .5rem;
            h2{
               font-size: .825rem;
               margin-right: 1.75rem;
            }
            h3{
               font-size: .825rem;
            }
         }
      }
   }

}