.slider-container {
  height: 100vh;
  display: inline-flex;
  // overflow: hidden;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  cursor: grab;

  .slide {
    max-height: 100vh;
    width: 100vw;
    user-select: none;
  }

  .grabbing {
    cursor: grabbing;

    .slide {
      img {
        transform: scale(0.9);
      }
    }
  }
}
