
$burple: #c2caf5; //main button color
$burple-light: #dfe2f3; // 
$burple-superlight: #ebedf5;
$yellow: #ffef4d;
$light-yellow:#e5ff00;
$orange:#f08f19;
$red: #f0163a;
$light-red: #ff0f4f;
$black: #292929;
$secondblack: #000;
$white: #f6f6f6;
$superwhite:#f2f6f9;
$dark-grey: #7d7d7d;
$light-grey: #c1c1c1;
$white-grey: #fafafa;
$superlight-grey: #ebebec;
$blue: #4ba9ff;
$dark-blue:#164d6d;
$light-blue:#3d95ce;
$green:#7fe676;
$dark-green:#3dc425;
$purple:#9b5cec;
$dark-purple: #2b1951;
$dark-purple2:#514d69

//icon color: #788CF5
